
.main-header {
    width: 100%;
    height: auto;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30vw;
    padding: 10px 20px;
    border-bottom: #303030 1px solid;
    box-shadow: #303030 0 0 8px 0;
    z-index: 1;
    transition: 1.2s ease-in-out;
    position: fixed;
    backdrop-filter: blur(45px);
}


.main-header-logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-header-logo img {
    height: auto;
    max-height: 110px;
    width: auto;
    margin: 0 20px;
}


.main-header-logo img:hover {
    opacity: 0.9;
}


.main-nav {
    width: fit-content;
    font-family: "JetBrains Mono SemiBold", sans-serif;
    color: black;
    padding: 0 20px;
}


header.sticky {
    background: #1c1c1c;
    height: 60px;
}


header.sticky .main-nav a:link  {
    color: #ffffff;
}

header.sticky .main-nav a:visited {
    color: #ffffff;
}


.main-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
    padding: 0;
}


.main-nav ul li {
    list-style: none;
}


.main-nav a:link {
    color: black;
    text-decoration: none;
}


.main-nav a:visited {
    color: black;
}


.main-nav a:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media only screen and (max-width: 1080px) {
    .main-nav ul {
        display: none;
    }
}